@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,300italic,800);

body {
	font-family:'Open Sans';
	background: #2d2e31;
}

header{
	position: relative;
	margin-top: 4em;
}

a {
	color: #24252A;
	text-decoration: none;
}

a:hover{
	color: #333;
}

body.overflow-hidden {
  /* when primary navigation is visible, the content in the background won't scroll */
  overflow: hidden;
}


/*------------------------ About -----------------------------*/



/*------------------------ #hamburger-navigation -----------------------------*/

.cbp-af-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #2d2e31;
	z-index: 1000;
	height: 50px;
	overflow: hidden;
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	transition: height 0.3s;
	/*box-shadow: 0px 2px  #ffffff;*/
}

.cbp-af-header .cbp-af-inner{
	width: 100%;
	max-width: 71em;
	height:50px;
	margin: 0 auto;
	padding-left:2.5em;
	padding-right:3.1em;
}



.cbp-af-header h1,
.cbp-af-header .hamburger,
.cbp-af-header #hamburger-nav {
	display: inline-block;
	position: relative;
}

 /* We just have one-lined elements, so we'll center the elements with the line-height set to the height of the header */
.cbp-af-header h1,
.cbp-af-header #hamburger-nav .hamburger {
	line-height:50px;
}

.cbp-af-header h1 {
	font-family:'Open Sans';
	color: #e8e8e8;
	letter-spacing: 4px;
	font-weight:700;
	letter-spacing:-2px;
	font-size: 1.5em;
	margin: 0;
	float: left;
}

.cbp-af-header #hamburger-nav {
	float: right;
}

button{
	padding:0px;
}

.cbp-af-header #hamburger-nav .hamburger {
	  background:none;
	  position:absolute;
	  top:0;
	  right:0;
	  color:#e8e8e8;
	  border:0;
	  font-size:1.8em;
	  cursor:pointer;
	  outline:none;
	  z-index:1001;
}

/* Transitions and class for reduced height */
.cbp-af-header h1,
.cbp-af-header #hamburger-nav .hamburger {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.cbp-af-header.cbp-af-header-shrink {
	height: 50px;
	/*background:#24252A;*/

}

.cbp-af-header.cbp-af-header-shrink h1,
.cbp-af-header.cbp-af-header-shrink #hamburger-nav .hamburger {
	line-height: 50px;
}

.cbp-af-header.cbp-af-header-shrink h1 {
	font-size: 1.5em;
	color:#e8e8e8;
}

.cbp-af-header.cbp-af-header-shrink .hamburger-inner{
	font-size: 1.5em;
	background-color:#e8e8e8;
}

.cbp-af-header.cbp-af-header-shrink .hamburger-inner::before{
	font-size: 1.5em;
	background-color:#e8e8e8;
}

.cbp-af-header.cbp-af-header-shrink .hamburger-inner::after {
	font-size: 1.5em;
	background-color:#e8e8e8;
}


/*---------------------------- Hamburger Menu Bar ----------------------------*/

.hamburger {
  display: block;
  cursor: pointer;
	  transition-property: opacity, -webkit-filter;
	  transition-property: opacity, filter;
	  transition-property: opacity, filter, -webkit-filter;
	  transition-duration: 0.15s;
	  transition-timing-function: linear;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger-box {
  width: 30px;
  height: 10px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  /*top: 50%;*/
  margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 30px;
  height: 4px;
  background-color: #e8e8e8;
  position: absolute;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
	}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

/*-------------------------- Hamburger Animation -----------------------------*/

.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.1s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze .hamburger-inner::before {
  transition: top 0.1s 0.14s ease, opacity 0.1s ease;
}

.hamburger--squeeze .hamburger-inner::after {
  transition: bottom 0.1s 0.14s ease, -webkit-transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.14s ease, transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.14s ease, transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze.is-active .hamburger-inner {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  transition-delay: 0.14s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

  .hamburger--squeeze.is-active .hamburger-inner::before {
    top: 0s;
    opacity: 0;
    transition: top 0.1s ease, opacity 0.1s 0.14s ease;
	}

  .hamburger--squeeze.is-active .hamburger-inner::after {
    bottom: 0;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    transition: bottom 0.1s ease, -webkit-transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.1s ease, transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.1s ease, transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
	}

/*----------------------------- Nav ------------------------------------------*/

/* General styles for all menus */
.cbp-spmenu {
	background: #ffffff;
	position: fixed;
}

.cbp-spmenu a {
	display: inline-block;
}

/* Orientation-dependent styles for the content of the menu */


.cbp-spmenu-horizontal {
	width: 100%;
	height: 100px;
	left: 0;
	z-index: 999;
	overflow: hidden;
}

.cbp-spmenu-horizontal li{
	color: #24252A;
	font-size: .8em;
	list-style:none;
	text-transform:uppercase;
	letter-spacing:1px;
	font-weight:600;
	display:inline-block;
	margin:0 .5em 0px .5em;
	line-height:50px;
}
/* Horizontal menu that slides from the top or bottom */

.cbp-spmenu-top {
	top: -100px;
}


.cbp-spmenu-top.cbp-spmenu-open {
	top: 0px;
}

/* Nav Content */
.nav-wrapper ul{
	margin:0;
	padding:0;
}

.nav-wrapper{
	  width: 100%;
		max-width: 71em;
		height:50px;
		margin:50px auto auto auto;
		padding-left:2.5em;
		padding-right:3.1em;
}

.list-centered{
	float:right;
	  width: -webkit-fit-content;
	 	width: -moz-fit-content;
	  width: fit-content;
}

.social-media{
	float:left;
	height:50px;
}

.social-media li{
	padding:0;
	height:50px;
	margin:0 .2em 0 .2em;
}

.social-media img{
	width:50px;
	height:auto;
}

/* Transitions */

.cbp-spmenu{
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

/*------------------------------------ Grid ----------------------------------*/
.grid {
	max-width: 67em;
	list-style: none;
	margin: 7em auto;
	padding: 0;
}

.grid li {
	display: block;
	float: left;
	padding: 5px;
	width: 33%;
	opacity: 0;
}

.grid li.shown,
.no-js .grid li,
.no-cssanimations .grid li {
	opacity: 1;
}

.grid li img {
	outline: none;
	border: none;
	display: block;
	max-width: 100%;
	width:100%;
	opacity: 1;
}

.grid li a{
	outline: none;
	border: none;
	display: block;
	max-width: 100%;
}


/*---- Grid Animation: Move Up ----*/
.grid.effect-2 li.animate {
	-webkit-transform: translateY(200px);
	transform: translateY(200px);
	-webkit-animation: moveUp 0.65s ease forwards;
	animation: moveUp 0.65s ease forwards;
}

@-webkit-keyframes moveUp {
	0% { }
	100% { -webkit-transform: translateY(0); opacity: 1; }
}

@keyframes moveUp {
	0% { }
	100% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; }
}

/*------------------------Slide Up Animation ---------------------------------*/

.view {
   width: 100%;
   height: 100%;
	 float: left;
   overflow: hidden;
   position: relative;
   text-align: center;
}
.view .mask{
   width: 100%;
   height: 100%;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}

.view-fifth img {
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}

.view-fifth .mask {
   background-color: #ffffff;
   -webkit-transform: translateY(-100%);
   -moz-transform: translateY(-100%);
   -o-transform: translateY(-100%);
   -ms-transform: translateY(-100%);
   transform: translateY(-100%);
   opacity: 1;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}

.view-fifth span {
	color: #24252A;
	height:50%;
	font-weight:700;
	letter-spacing:0px;
	font-size:16px;
	line-height:20px;
	text-align:left;
	text-transform:uppercase;
}

.view-fifth p {
	filter: alpha(opacity=0);
	width:100%;
	height:auto;
	margin:0;
	padding:1.5em 1.5em 0 1.5em;
	opacity: 0;
	color: #24252A;
	font-weight:400;
	text-align:left;
	font-size:13px;
	   -webkit-transition: all 0.2s linear;
	   -moz-transition: all 0.2s linear;
	   -o-transition: all 0.2s linear;
	   -ms-transition: all 0.2s linear;
	   transition: all 0.2s linear;
}

.smaller span {
   color: #24252A;
	 height:auto;
	 font-weight:700;
	 letter-spacing:0px;
	 font-size:16px;
	 margin:0;
	 line-height:20px;
	 text-align:left;
}

.smaller p {
	filter: alpha(opacity=0);
	width:100%;
	height:70%;
	margin:0;
	padding:1.5em 1.5em 0 1.5em;
	opacity: 0;
	color: #24252A;
	font-weight:400;
	text-align:left;
	font-size:13px;
	   -webkit-transition: all 0.2s linear;
	   -moz-transition: all 0.2s linear;
	   -o-transition: all 0.2s linear;
	   -ms-transition: all 0.2s linear;
	   transition: all 0.2s linear;
}

.view-fifth:hover .mask {
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
}

.view-fifth:hover img {
   -webkit-transform: translateY(100%);
   -moz-transform: translateY(100%);
   -o-transform: translateY(100%);
   -ms-transform: translateY(100%);
   transform: translateY(100%);
}

.view-fifth:hover p {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}

/*-------------------------------- Content -----------------------------------*/

.content-wrapper{
  width: 100%;
	max-width: 71em;
	height:100%;
	margin:10em auto 5em auto;
	padding-left:2.5em;
	padding-right:3.1em;
}

.content-wrapper img{
  	outline: none;
  	border: none;
  	display: block;
  	max-width: 100%;
  	opacity: 1;
}

.content-wrapper li{
  list-style:none;
  margin:0px 0px 20px 0px;v;
  padding:0;
}
.content-wrapper ul{
  margin:0;
  padding:0;

}

.project-content{
  color:#e8e8e8;
  /*background-color:#24252A;*/
  font-family:'Open Sans';
  margin:0px 0px 0px 0px;


}

.project-title{
    color:#e8e8e8;
    text-transform:uppercase;
    letter-spacing:1px;
    font-weight:700;
    text-align:left;
    font-size:1.4em;
    line-height:29px;
}

.project-category{
  color:#e8e8e8;
  text-transform:uppercase;
  letter-spacing:1px;
  text-align:left;
	font-weight:300;
  font-style:italic;
  font-size:.9em;
}

.project-description{
  margin:8em 0em 8em 0em;
  letter-spacing:.3px;
  color:#e8e8e8;
}

.project-details{
	text-align:justify;
	margin:30px 0px 30px 0px;
/*	letter-spacing:2px;*/
}

.project-details a{
	color:#ffffff;
}

.content-wrapper hr{
  display: block;
  height: 0px;
  border: 0;
  border-top: 2px solid #ffffff;
  padding: 0;
  margin:10px 0px 10px 0px;
}

/*---- Responsive Video Style ----*/
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}




/*--------------------------------About Me------------------------------------*/
/*.content-wrapper h2{
	text-transform:uppercase;
	font-size:2.5rem;
	font-weight:600;
	letter-spacing:4px;
	color:#e8e8e8;
	line-height:45px;
	margin:235px 0 0 0;
}

.content-wrapper span{
	font-weight:300;
}*/

.project-details > span {
	font-weight: 700;
}

.project_link > a{
	color:white;
}

.content-wrapper h3{
	text-transform:uppercase;
	font-size:3rem;
	font-weight:500;
	letter-spacing:4.7px;
	line-height:50px;
	color:#e8e8e8;
	margin:0;
}

.content-wrapper h3 span{
	text-transform:uppercase;
	font-size:3rem;
	letter-spacing:4.7px;
	color:#e8e8e8;
	margin:0;
	font-weight:300;
}

.content-wrapper ul{
	margin:20px auto;
}

.content-wrapper li{
	color:#e8e8e8;
	font-size:.875rem;
/*	padding-right:15px;*/
	line-height:1.5;
	font-weight:300;
	text-align:center;
	letter-spacing:1px;
}

/*.content-wrapper li span{
	color:#e8e8e8;
	font-size:.8rem;
	margin:0;
	line-height:10px;
}*/

/*.content-wrapper li a{
	color:#24252A;
	background:#ffffff;
	font-size:.8rem;
	margin:0;
	line-height:10px;
}*/

.content-wrapper li a:hover{
	background:#e8e8e8;
	color:#24252A;
}
/*------------------------------  Media Queries ------------------------------*/

@media screen and (max-width: 55em) {

	.grid li {
		width: 50%;
	}

	.cbp-af-header h1{
		font-size:1.5em;
	}

	.cbp-af-header #hamburger-nav .hamburger{
		font-size:1.8em;
	}

	.cbp-af-header.cbp-af-header-shrink h1,
	.cbp-af-header.cbp-af-header-shrink #hamburger-nav .hamburger {
		line-height: 50px;
	}

	.cbp-af-header.cbp-af-header-shrink h1 {
		font-size: 1.5em;
	}

	.cbp-af-header.cbp-af-header-shrink #hamburger-nav .hamburger {
		font-size: 1.8em;
	}

  .cbp-af-header .cbp-af-inner{
  	width: 100%;
  	height:50px;
  	padding-left:1em;
  	padding-right:1em;
  }

	.nav-wrapper{
		padding-left:1em;
		padding-right:1em;
	}

	.cbp-spmenu-horizontal li{
		font-size: .8em;
	}

  /*.grid,
  .content-wrapper{
    margin:3em auto;
  }*/

  .content-wrapper{
	margin:7em auto 3em auto;
  	padding-left:20px;
  	padding-right:20px;
  }

	.project-title,
	.project-category{
		text-align:left;
	}

  header{
		margin-top:4em;
	}
}

@media screen and (max-width: 400px) {
	.grid li {
		width: 100%;
	}
.social-media img{
	width:40px;
	padding-top:5px;
	height:auto;
}

}


